/*Main style*/
html body {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

.section__num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.contain-number {
    background-image: url(../img/bg_num.png);
    background-repeat: no-repeat;
    width: 112px;
    height: 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgb(96, 80, 203);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: center;
}

/*First section*/
.top-horizontal-line {
    border-bottom: 3px solid #ccc;
    opacity: 0.2;
    position: absolute;
    top: 97px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.bg_first_section_left {
    background-image: url(../img/bg_first_section_left.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 643px;
    height: 1107px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.bg_first_section_right {
    background-image: url(../img/bg_first_section_right.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 671px;
    height: 1017px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

.header a {
    text-decoration: none;
}

.top_menu {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #000;
    margin-top: 40px;
}

.fa-circle {
    color: #e54671;
    font-size: 6px;
    vertical-align: middle;
    margin-right: 24px;
}

.header_contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../img/top_contacts_bg.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 332px;
    height: 220px;
    z-index: 3;
}

.phone_number {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 15px;
    position: relative;
}

.phone_number::after {
    content: url(../img/grey_line.png);
    position: absolute;
    top: 24px;
    right: 53px;
}

.pirple_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 70, 113);
    width: 164px;
    height: 38px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 22px;
}

.contact_arrow {
    margin-top: 25px;
}


.first__info {
    position: relative;
    z-index: 3;
    background-image: url(../img/bg_first_section_central.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    min-height: 610px;
    margin-top: 20px;
    padding-top: 181px;
}

.first__info_slogan {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
}

.first__info_images {
    margin-top: 61px;
}

.first__info_text {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.75;
    text-align: center;
    margin-top: 110px;
    padding: 0 200px;
}

.contain-mouse {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.mouse {
    position: relative;
    width: 20px;
    height: 32px;
    border: 2px solid #6050cb;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.mouse::after {
    content: url("../img/bg_mouse.png");
    width: 2px;
    height: 36px;
    position: absolute;
    top: 40px;
    left: 7px;
}

.mouse__wheel {
    width: 2px;
    height: 8px;
    border-right: 2px solid #6050cb;
    margin-top: 7px;
    transition: ease-in-out 300ms;
}

.mouse:hover .mouse__wheel {
    margin-top: 13px;
    transition: ease-in-out 300ms;
}

.second__info_number {
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

.second__info_head {
    font-size: 36px;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: center;
    margin-top: 95px;
}

.second__info_text {
    font-size: 18px;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.556;
    text-align: center;
    margin-top: 19px;
}

.leaves {
    background-image: url(../img/bg_leaves.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 497px;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.leaves__info {
    background-color: #fff;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}

.leaves__info_number {
    font-size: 72px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
}

.leaves__info_text {
    font-size: 18px;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.2;
    text-align: center;
}

.leaves__info_number .fa-circle {
    color: #c2c2c2;
    font-size: 10px;
    margin: 0 50px;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 160px;
}

.advantage__img {
    margin-bottom: 34px;
}

.advantage__head {
    font-size: 20px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    text-align: center;
    margin-bottom: 17px;
}

.advantage__text {
    font-size: 14px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.2;
    text-align: center;
}

/*Second section*/
.second_section {
    position: relative;
    background-image: url(../img/bg_second_section.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 105px 0 130px;
}

.second_section__head {
    font-size: 36px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: center;
}

.second_section__pate {
    margin-top: 327px;
}

.pate {
    display: flex;
    justify-content: center;
}

.pate img {
    margin: 0 25px;
}

.second_section__text {
    font-size: 18px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: center;
    margin-top: 47px;
    padding: 0 100px;
}

.employment {
    min-height: 250px;
    padding-top: 147px;
}

.employment__head {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 23px;
}

.employment__text {
    font-size: 14px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgba(255, 255, 255, 0.478);
    line-height: 1.2;
    text-align: center;
}

/*Trio section*/
.trio_section {
    position: relative;
    padding: 105px 0 55px;
}

.trio_section__head {
    font-size: 36px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 51px;
    margin-bottom: 100px;
}

.chips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 86px;
}

.chips__img {
    margin-bottom: 35px;
}

.chips__head {
    font-size: 20px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    text-align: center;
    margin-bottom: 17px;
}


.chips__text {
    font-size: 14px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.2;
    text-align: center;
}

/*Four section*/
.four_section {
    position: relative;
    padding: 114px 0 285px;
    background-image: url(../img/bg_four_section.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.four_section__head {
    font-size: 36px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: center;
}

.measure {
    margin-top: 134px;
}

#pills-tab {
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-radius: 64px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 658px;
    margin: 0 auto;
}

#pills-tabContent {
    margin-top: 54px;
    padding: 0 100px;
}

.measure .nav-item {
    position: relative;
    width: 50%;
    height: 68px;
}

.measure__before {
    font-size: 12px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgba(255, 255, 255, 0.42);
    text-transform: uppercase;
    line-height: 2.333;
    text-align: center;
    position: absolute;
    top: -40px;
    margin: 0 auto;
    width: 100%;
}


.measure .nav-pills .nav-link {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgba(255, 255, 255, 0.42);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.556;
    text-align: center;
}


.measure .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
    border: 2px solid #fff;
    height: 68px;
    border-radius: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.556;
    text-align: center;
}


.measure__before.ivi {
    font-size: 12px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.333;
    text-align: center;
}

.tab-pane {
    font-size: 16px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.75;
    text-align: center;
}

/*Five section*/
.five_section {
    position: relative;
    padding: 100px 0 130px;
    background-color: #f9ae1d;
}

.five_section__info {
    width: 100%;
    max-width: 880px;
    background-color: #6050cb;
    border-radius: 4px;
    padding: 40px;
    background-image: url(../img/bg_info-txt.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
    margin-top: 90px;
}

.five_section__head {
    font-size: 36px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.778;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 42px;
}

.five_section__text {
    font-size: 16px;
    font-family: 'Proxima Nova lt', sans-serif;
    color: rgba(0, 0, 0, 0.478);
    line-height: 1.75;
    text-align: center;
    margin-top: 41px;
    padding: 0 200px;
}


.five_section__info-txt {
    font-size: 30px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
}

.five_section__img img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 830px);
}


/*Six section*/
.six_section {
    position: relative;
    padding: 100px 0;
}