body{
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header a{
    text-decoration: none;
}

.top_menu{
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #000;
    margin-top: 40px;
}

.fa-circle{
    color: #e54671;
    font-size: 6px;
    vertical-align: middle;
    margin-right: 24px;

}

.header_contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*box-shadow: 0px 2px 7px 18px rgba(233,233,233,1);*/
    background-image: url("/img/top_contacts_bg.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 332px;
    height: 220px;
}

.phone_number{
    font-family: 'Proxima Nova Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 15px;
    position: relative;
}

.phone_number::after{
    content: url(/img/grey_line.png);
    position: absolute;
    top: 24px;
    right: 53px;
}

.pirple_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 70, 113);
    width: 164px;
    height: 38px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 22px;
}

.contact_arrow{
    margin-top: 25px;
}


